/* Show it is fixed to the top */
body {
  padding-top: 3.5rem;
}

.nav-bg-wljet {
    background-color: #a39d93 !important;
}

nav .navbar-brand {
  padding: 0;
  margin: -0.4em 0;
}

.navbar-nav {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(37,37,37,.49);
}

.featurette::before {
  content: "";
  display: block;
  height: 80px; /* fixed header height*/
  margin: -80px 0 0; /* negative fixed header height */
}

.featurette h2 {
  margin: 2rem 0;
}

.logo-area {
  display: none;
}

.logo-wl-left {
  float: right;
  margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 1);
}

.navbar-dark .navbar-text a:focus,
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:active,
.navbar-dark .navbar-text a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(37,37,37,.49);
}

.carousel {
  margin-bottom: 4rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.jobs {
    font-size: 0.875em;
}

.jobs h5 {
  margin: 1rem 0;
}

.jobs li {
  margin: 0.5rem 0;
}

#contact .carousel {
  margin: 0.2rem 0;
}

.addr{
  padding-top: 1em;
  font-size: 0.875em;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

footer .container-fluid {
  background: #081832;
  color: #fff;
}

footer .modal-content,
footer .modal a:hover,
footer .modal a:active,
footer .modal a:focus,
footer .modal a {
  color: #333;
}

footer a:hover,
footer a:active,
footer a:focus,
footer a {
  color: #fff;
  text-decoration: none !important;
}

footer .footer-copyright {
  font-size: 0.875em;
}

@media (max-width: 768px) {
  footer .fa-2x {
    font-size: 1.5em;
  }

  footer .container-fluid {
    font-size: 0.875em;
  }

  footer .footer-copyright {
    font-size: 0.675em;
  }
}

@media (min-width: 768px) {
  nav .navbar-brand {
    margin-right: 1rem;
  }

  .logo-area {
    display: block;
    height: 0;
    margin: 0;
    position: relative;
    z-index: 4;
  }

  #logo {
    position: absolute;
    right: 0;
    top: 0;
    height: 120px;
  }
}

@media (min-width: 992px) {
  #logo {
    height: 157px;
  }
}
